/*Font for navigation bar*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
	box-sizing: border-box;
	font-family:calibri,verdana,arial;
	line-height: 1.5;
	margin: 0 auto;
}

.loginform, .signupform {
	width: 50%;
	margin: 0 auto;
	padding: 0 auto;
}

.container {
	align-items: center;
	margin-top: 20px;
}
body {
	background-color: #FCFCFC;
	color:#4c4c4c;
}
td {
	text-align: center;
	text-transform: capitalize;
}
th {
	text-align:center;
	text-transform: capitalize;
}
tr.concern {
	background-color:rgb(235, 143, 143);
}
.table tbody tr.concern:hover td, .table tbody tr.concern:hover th {
	background-color:rgb(235, 143, 143);
}

