{% extends 'base.html' %}

{% block title %}Ethical Pepperjack - Add Ingredients{% endblock %}

{% block content %}

    <h2 style="text-align:center">Add an ingredient to your...<span><b>{{ recipe }}</b></span></h2>
    <br>
    <form action="add_ingredients" method="get">

        <div class="mx-auto" style="width: 1000px;">
            
            <input type="search" class="form-control" id="search-field"
                   aria-describedby="searchHelp" name="ingredient_name" placeholder="Enter an Ingredient">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <br>

    <table class="table table-hover" style="width: 70%;">
        <thead class="thead-light">
        <tr>
            <th scope="col">Ingredient</th>
            <th scope="col">Description</th>
            <th scope="col">Ranking</th>
            <th scope="col">Add Ingredient</th>
        </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            
            <tr>
                <td>{{ ingredient.1 }}</td>
                <td>{{ ingredient.2 }}</td>
                <td>{{ ingredient.3 if ingredient.3 != None else "Not ranked" }}
                <td>
                    <form action="add_ingredients" method="post" class="add_ing_form" id="add_ing_form_{{ ingredient.0 }}">
                         <label for="quantity" hidden="true">Quantity:</label>
                            <select id="quantity" name="quantity" hidden="true">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                            </select>
                        <label for="unit" hidden="true">Unit:</label>
                            <select id="unit" name="unit" hidden="true">
                                <option value="each">Each</option>
                                <option value="cups">Cups</option>
                                <option value="teaspoon">Teaspoon</option>
                                <option value="tablespoon">Tablespoon</option>
                                <option value="kg">KG</option>
                                <option value="lb">LB</option>
                            </select>
                        <button type="button" class="btn btn-success" name="unhide_el" onclick=unhideElements({{ ingredient.0 }});>+</button> 
                        <button type="submit" class="btn btn-success" name="submit_ing_id" value="{{ ingredient.0 }}" hidden="true">Confirm</button>
                        <button type="button" class="btn btn-danger" hidden="true" name="hide_el" onclick=hideElements({{ ingredient.0 }});>Hide</button> 
                    </form>
                </td>
            </tr>
        {% endfor %}
         </tbody>
    </table>
    <h3 style="display:{{ visible_prop }};text-align: center">No ingredients found</h3>
    <form action="add_ingredients" method="post" style="display: {{ visible_prop }}; width: 30%">
        <input type="text" class="form-control" name="ingredient_name" placeholder="Ingredient Name">
        <textarea rows="5" class="form-control" name="ingredient_desc" placeholder="Description"></textarea>
        <input type="text" class="form-control" name="ingredient_origin" placeholder="Origin">
        <button type="submit" class="btn btn-primary">Add to recipe & database</button>
    </form>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>


{% endblock %}

