{% extends 'base.html' %}
{% block content  %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: rgb(68, 66, 230);
  color: rgb(248, 244, 244);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
  color: #444;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
</style>
</head>
<body>

<h2 style="text-align:center">Recipe</h2>
<p style="text-align:center">Click on Ingredients of Recipe to see Ethical Alternatives.</p>

<button class="accordion">Ingredient 1</button>
<div class="panel">
  <p>It is unethical because X.</p>
  <p>  
    Check out Ethical Alternatives below:
    <ul>
      <li>Ethical Alternative 1</li>
      <li>Ethical Alternative 2</li>
      <li>Ethical Alternative 3</li>
    </ul>
  </p>
</div>

<button class="accordion">Ingredient 2</button>
<div class="panel">
  <p>It is unethical because X.</p>
  <p>  
    Check out Ethical Alternatives below:
    <ul>
      <li>Ethical Alternative 1</li>
      <li>Ethical Alternative 2</li>
      <li>Ethical Alternative 3</li>
    </ul>
  </p>
</div>

<button class="accordion">Ingredient 3</button>
<div class="panel">
  <p>It is unethical because X.</p>
  <p>  
    Check out Ethical Alternatives below:
    <ul>
      <li>Ethical Alternative 1</li>
      <li>Ethical Alternative 2</li>
      <li>Ethical Alternative 3</li>
    </ul>
  </p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</body>
</html>

{% endblock %}