{% extends 'base.html' %}
{% block content  %}
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<h2 style="text-align:center">Homepage</h2>
<br>

<!----
trying to use video as backgroud
<video autoplay loop muted id="myVideo">
  <source src="{{ url_for('static', filename='pics/kitchen.mp4') }}" type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
</video>
---->

<img src="{{ url_for('static', filename = 'pics/fridge.gif') }}"> 



<div style="width:600px; float:right; text-align:left" class="container">

  <form class="loginform" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <label for="emaillabel">Username</label>
      {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
      <label for="passsordlabel">Password</label>
      {{ form.password(class="form-control") }}
      {% for field in form.errors %}
        {% for error in form.errors[field] %}
          <div class="alert alert-error">
            <strong>Error!</strong> {{error}}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
      {{ form.submit(class="btn btn-primary btn-block") }}
    <a href="/signup" class="btn btn-success btn-block">Create an account</a>
    <a href="/guest" class="btn btn-info btn-block">Continue as guest</a>
  </form>

</div>
</body>
</html>
{% endblock %}
