{% extends 'base.html' %}
{% block content  %}

<form>
	<label>Email:</label><br>
	<input text="text" name="email" id="email">
	<label>Password:</label><br>
	<input text="text" name="password" id="password">
	<input text="submit" class="btn btn-primary" value="login">
	<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Sign Up</button>
  <button type="button" class="btn btn-secondary">Continue as guest</button>
</div>
</form>


{% endblock %}
