{% extends "base.html" %}
{% block content  %}
<div class="container-fluid">
    <h1>{{name}}</h1>
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <td scope="col">Name</td>
                <td scope="col">Description</td>
                <td scope="col">Origin</td>
                <td scope="col">Find Alternative?</td>
            </tr>
        </thead>
        {% for ingredient in ingredients %}
        <tbody>
            <tr>
                <th scope="row">{{ingredient.1}}</td>
                <td>{{ingredient.2}}</td>
                <td>{{ingredient.3}}</td>
                <td><a href="/alternatives?recipeID={{recipeID}}&ingredientID={{ingredient.0}}&recipe_name={{name}}"><button type="button" class="btn btn-info btn-lg">Yes</button></a></td>   
        </tbody>
        {% endfor %}
    </table>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <a href="/add_ingredients"><button type="button" class="btn btn-success">Add Ingredient(+)</button></a> 
            </div>
            <div class="col-md">
                <form action = "/add_recipe_to_user_book" method="POST">
                    <button class="btn btn-success"id="recipeID" name="recipeID" value="{{recipeID}}">Save Recipe</button> 
                </form>
            </div>
        </div>
    </div>
       
 



    

</div>



{% endblock %}