{% extends 'base.html' %}
{% block content  %}

<h1>{{name}}</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Origin</th>
            <th>Find Alternative?</th>
        </tr>
    </thead>
    {% for ingredient in ingredients %}
    <tbody>
        <tr>
            <td>{{ingredient.0}}</td>
            <td>{{ingredient.1}}</td>
            <td>{{ingredient.2}}</td>
            <td><button type ="button">Yes</button></td> 
        
    </tbody>
    {% endfor %}

</table>


{% endblock %}