{% extends 'base.html' %}

{% block title %}Ethical Pepperjack - Search Category{% endblock %}

{% block content %}

    <br>
    <h2 style="text-align:center">Look up a Recipe</h2>
    <br>

    <form action="search_recipe" method="post">

        <div class="mx-auto" style="width: 1000px;">
            <label for="search_recipe">Enter a Recipe Name</label>

            <input type="search" class="form-control" id="search-field"
                   aria-describedby="searchHelp" name="search_recipe_name">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <br>
        <table class="table table-hover"
               style="width: 1000px;">
            <thead class="thead-light">
            <tr>
                <th scope="col">Recipe name</th>
                <th scope="col">Description</th>
                <th scope="col">Ethical Rank</th>
                <th scope="col">Link to Ingredients</th>
            </tr>
            </thead>

            {% for i in recipe_list %}
                <tbody>
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>
                    <a href="/recipe_display?recipe_name={{i.3}}">
                        <i class="fa fa-external-link fa-lg"
                           style="padding-left: 60px"></i>
                    </a>
                    </td>
                </tr>
                </tbody>

            {% endfor %}

        </table>
    </form>
    <br>



{% endblock %}

