{% extends 'base.html' %}

{% block title %}Ethical Pepperjack - Search Category{% endblock %}

{% block content %}

   <br>
    <h2 style="text-align:center">Look up an Ethical Concern</h2>
    <br>

    <form action="search_category" method="post">

        <div class="mx-auto" style="width: 1000px;">
            <input type="search" class="form-control" id="search-field"
                   aria-describedby="searchHelp" name="search_category"placeholder="e.g. water usage ">

            <small id="searchHelp" class="form-text text-muted">By searching a concern, you can find
        alternative & ethical ingredients
            </small>

            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <br>

    <table class="table table-hover" style="width: 1000px;">
        <thead class="thead-light">
        <tr>
            <th scope="col">Ethical Category</th>
            <th scope="col">Alternative Ingredient(s)</th>
        </tr>
        </thead>

        {% for i in ingredients %}
            <tbody>
            <tr>
                <td>{{ name }}</td>
                <td>{{ i.0 }}</td>
            </tr>
            </tbody>
        {% endfor %}

    </table>


{% endblock %}

