{% extends 'base.html' %}
{% block content  %}

<form class="signupform">
  <div class="form-row">
    <div class="col">
      <label for="firstnamelabel">First Name</label>
      <input type="text" class="form-control" id="firstnameinput">
    </div>
    <div class="col">
      <label for="usernamelabel">Username</label>
      <input type="text" class="form-control" id="usernameinput">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="lastnamelabel">Last Name</label>
      <input type="text" class="form-control" id="lastnameinput">
    </div>
    <div class="col">
      <label for="emaillabel">Last Name</label>
      <input type="text" class="form-control" id="emailinput">
    </div>
  </div>

  <div class="form-group">
    <label for="passsordlabel">Password</label>
    <input type="password" class="form-control" id="passwordinput">
    <small class="form-text text-muted">Password must be at least 8 characters.</small>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

{% endblock %}
<input type="email" class="form-control" id="emailinput" aria-describedby="emailHelp" placeholder="name@example.com">
